[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
powersol_core = "GqfdkAjpFJMZnzRaLrgeoBCr7exvSfqSib1wSJM49BxW"
powersol_claim = "DX1rjpefmrBR8hASnExE3qCBpjpFEkUY4JEoTLmuU2JK"

[programs.devnet]
powersol_core = "GqfdkAjpFJMZnzRaLrgeoBCr7exvSfqSib1wSJM49BxW"
powersol_claim = "DX1rjpefmrBR8hASnExE3qCBpjpFEkUY4JEoTLmuU2JK"

[programs.mainnet]
powersol_core = "GqfdkAjpFJMZnzRaLrgeoBCr7exvSfqSib1wSJM49BxW"
powersol_claim = "DX1rjpefmrBR8hASnExE3qCBpjpFEkUY4JEoTLmuU2JK"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000
